a {
  cursor: pointer;
}
.sky-logo {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 2px;
}
.btn.btn--activate,
.btn.btn--download {
  margin: 5px 0;
  display: block;
  width: 100%;
  text-align: center;
}

.u-centered {
  text-align: center;
}

.u-blackBackground {
  background-color: black;
}

.u-verticalMargins {
  margin-top: 2em;
  margin-bottom: 2em;
}

.font-size--control > * {
  font-size: 2em;
}
.font-size--size {
  font-size: 1.5em;
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.sticky-header {
  position: absolute;
  padding-top: 15px; 
  padding-bottom: 15px;
  background: #fff;
}

.u-sticky {
  top: 0;
  position: fixed;
  z-index: 25;
}

.skyTests {
  margin-top: 100px;
}

.skyTests.whiteOnBlack,
.skyTests.whiteOnBlack * {
  background-color: black !important;
  color: white !important;
}

body p {
  line-height: normal; /* overrides Toolkit's */
}
