.sky-logo {
  vertical-align: bottom;
  display: inline-block;
  margin-left: 2px;
}
.btn.btn--activate,
.btn.btn--download {
  margin: 5px 0;
  display: block;
  width: 100%;
  text-align: center;
}

.u-centered {
  text-align: center;
}

.u-blackBackground {
  background-color: black;
}
