section#banner.clearfix(role='banner')
  .container.grid
    h1#fontname.colx8(ng-style="{ \'font-family\': font.activeFont }") {{font.activeFont}}

    aside.colx4(role='complementary')
      div(fd-font-list='')

.content.grid.gallery.clearfix

  div.colx4.item(ng-repeat="font in gallery")

    a.button.btn.secondary(id="{{font.name}}", draggable="true", fd-tap="loadFont('gallery/{{font.name}}')")
        | Load {{ font.url.split('/').reverse()[0] }} ({{ font.size }})
