section.skycom-container
  div.skycom-6
    h4.u-centered
      | Available Fonts:
    div(ng-repeat="font in gallery")
      a.button.btn.btn--download.secondary(id="{{font.name}}", draggable="true", fd-tap="loadFont('gallery/{{font.name}}')")
        | Load {{ font.url.split('/').reverse()[0] }} ({{ font.size }})
    div.u-centered(ng-show="!gallery.length")
      i Empty
    div.right(ng-show="gallery.length")
      a(fd-tap="deleteAllFonts()") Delete All
  div.skycom-6
    h4.u-centered Loaded Fonts:
    div(fd-font-list='')
div.clear
div.skycom-container(ng-hide="font.activeFont")
  h4.u-verticalMargins.u-centered Select a font from the Loaded Fonts list above.
#wfs.skycom-container(ng-show="font.activeFont", contenteditable='true', class="{{colorScheme}}", ng-style="{ \'font-family\': font.activeFont }")
  section.skycom-6(role='region')
    h2
      | Text sample 
      span &#8211; CSS font-size (px) with 1.4em line-height
    
    p.s.s18
      span 18
      | Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, &#8220;useful precedent&#8221;&hellip;

    p.s.s14
      span 14
      | Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, &#8220;useful precedent&#8221; and the progressive tendencies of&hellip;

    p.s.s12
      span 12
      | Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, &#8220;useful precedent&#8221; and the progressive tendencies of an able mind. For, let a man be as able &amp; original&hellip;

    p.s.s11
      span 11
      | Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, &#8220;useful precedent&#8221; and the progressive tendencies of an able mind. For, let a man be as able &amp; original as he may&hellip;

    p.s.s10
      span 10
      | Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, &#8220;useful precedent&#8221; and the progressive tendencies of an able mind. For, let a man be as able &amp; original as he may, he can&#8217;t afford to discard knowledge of what&hellip;

    p.s.s9
      span 9
      | Is not the best kind of originality that which comes after a sound apprenticeship? That which shall prove to be the blending of a firm conception of, &#8220;useful precedent&#8221; and the progressive tendencies of an able mind. For, let a man be as able &amp; original as he may, he can&#8217;t afford to discard knowledge of what has gone before or what is now going&hellip;

  section.skycom-6.charset(role='region')
    h2 Characters
    p.s.s56
      | A&#8201;B&#8201;C&#8201;D&#8201;E&#8201;F&#8201;G&#8201;H&#8201;I&#8201;J&#8201;K&#8201;L&#8201;M&#8201;N&#8201;O&#8201;P&#8201;Q&#8201;R&#8201;S&#8201;T&#8201;U&#8201;V&#8201;W&#8201;X&#8201;Y&#8201;Z
      br
      | a&#8201;b&#8201;c&#8201;d&#8201;e&#8201;f&#8201;g&#8201;h&#8201;i&#8201;j&#8201;k&#8201;l&#8201;m&#8201;n&#8201;o&#8201;p&#8201;q&#8201;r&#8201;s&#8201;t&#8201;u&#8201;v&#8201;w&#8201;x&#8201;y&#8201;z
      br
      | 1&#8201;2&#8201;3&#8201;4&#8201;5&#8201;6&#8201;7&#8201;8&#8201;9&#8201;0&#8201;&amp;&#8201;@&#8201;.&#8201;,&#8201;?&#8201;!&#8201;&#8217;&#8201;&#8220;&#8201;&#8221;&#8201;(&#8201;)

  section.skycom-12
    h2 Body size comparison
    .bodysize
      table
        tr
          th.fontname &nbsp;

          th
            | Arial
            a(href='http://www.codestyle.org/servlets/FontStack?stack=Arial,Helvetica&generic=sans-serif') stack
          th
            | Times
            a(href='http://www.codestyle.org/servlets/FontStack?stack=Times+New+Roman,Times&generic=serif') stack
          th
            | Georgia
            a(href='http://www.codestyle.org/servlets/FontStack?stack=Georgia,New+Century+Schoolbook,Nimbus+Roman+No9+L&generic=serif') stack
        tr
          td
            span Body
          td.tf.typeface2
            span Body
          td.tf.typeface3
            span Body
          td.tf.typeface4
            span Body

  section.skycom-12
    h2
      | Grayscale
      span &#8211; CSS hex color on white

    .grayscale.clearfix
      .skycom-6.white.alpha
        p.c000
          span #000
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c333
          span #333
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c666
          span #666
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c999
          span #999
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.cCCC
          span #CCC
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      .skycom-6.black.omega
        p.cFFF
          span #FFF
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.cCCC
          span #CCC
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c999
          span #999
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c666
          span #666
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c333
          span #333
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to

  section.skycom-12
    h2
      | Grayscale
      span &#8211; CSS hex color on black

    .grayscale.u-blackBackground.clearfix
      .skycom-6.white.alpha
        p.c000
          span #000
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c333
          span #333
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c666
          span #666
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c999
          span #999
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.cCCC
          span #CCC
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
      .skycom-6.black.omega
        p.cFFF
          span #FFF
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.cCCC
          span #CCC
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c999
          span #999
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c666
          span #666
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to
        p.c333
          span #333
          | The best kind of originality is that which comes after a sound apprenticeship, that which shall prove to be the blending of a firm conception of useful precedent and the progressive tendencies of an able mind. For, let a man be as able and original as he may, he cannot afford to

  section.ulc.clearfix
    section.skycom-12
      h2
        | Size
        span &#8211; CSS font-size (px)
      p.s.s36
        span 36
        span.text Pack my box with five dozen liquor jugs.
      p.s.s30
        span 30
        span.text Pack my box with five dozen liquor jugs.
      p.s.s24
        span 24
        span.text Pack my box with five dozen liquor jugs.

    section.skycom-8
      p.s.s21
        span 21
        span.text Pack my box with five dozen liquor jugs.
      p.s.s18
        span 18
        span.text Pack my box with five dozen liquor jugs.
    section.skycom-4.upp
      p.s.s9
        span 9
        span.text Pack my box with five dozen liquor jugs
      p.s.s10
        span 10
        span.text Pack my box with five dozen liquor jugs

    .clearfix

    section.skycom-6
      p.s.s16
        span 16
        span.text Pack my box with five dozen liquor jugs.
      p.s.s14
        span 14
        span.text Pack my box with five dozen liquor jugs.
      p.s.s13
        span 13
        span.text Pack my box with five dozen liquor jugs.
    section.skycom-6.upp
      p.s.s11
        span 11
        span.text Pack my box with five dozen liquor jugs
      p.s.s12
        span 12
        span.text Pack my box with five dozen liquor jugs
      p.s.s13
        span 13
        span.text Pack my box with five dozen liquor jugs

    .clearfix

    section.skycom-4
      p.s.s12
        span 12
        span.text Pack my box with five dozen liquor jugs.
      p.s.s11
        span 11
        span.text Pack my box with five dozen liquor jugs.
      p.s.s10
        span 10
        span.text Pack my box with five dozen liquor jugs.
      p.s.s9
        span 9
        span.text Pack my box with five dozen liquor jugs.
    section.skycom-8.upp
      p.s.s14
        span 14
        span.text Pack my box with five dozen liquor jugs
      p.s.s16
        span 16
        span.text Pack my box with five dozen liquor jugs
      p.s.s18
        span 18
        span.text Pack my box with five dozen liquor jugs

    .clearfix

    section.skycom-12.upp
      p.s.s21
        span 21
        span.text Pack my box with five dozen liquor jugs
      p.s.s24
        span 24
        span.text Pack my box with five dozen liquor jugs
      p.s.s30
        span 30
        span.text Pack my box with five dozen liquor jugs
  .clearfix
div.clear
h2(ng-show="font.activeFont")
  | Sky Specific Tests
section.skycom-container.sticky-header(ng-show="font.activeFont", data-ng-init="initStickyHeader()")
  section.skycom-12
    a.button.btn.secondary(ng-click="setColorScheme('blackOnWhite')", ng-hide="colorScheme === 'blackOnWhite'")
      | Black on White
    a.button.btn.secondary(ng-click="setColorScheme('whiteOnBlack')", ng-hide="colorScheme === 'whiteOnBlack'")
      | White on Black
    a.font-size--control(href ng-click="decrementFontSize(); $event.preventDefault()")
      i.skycon-arrow-left
    span.font-size--size
      | {{fontSize}}px
    a.font-size--control(href ng-click="incrementFontSize(); $event.preventDefault()")
      i.skycon-arrow-right
.skycom-container.skyTests(ng-show="font.activeFont", contenteditable='true', class="{{colorScheme}}", ng-style="{ \'font-family\': font.activeFont, \'font-size\': fontSize + \'px\' }")
  section.skycom-6.alpha
    h4 Cap to Cap
    p AABACADAEAFAGAHAIAJAKALAMANAOAPAQARASATAUAVAWAXAYAZAA
    p BBCBDBEBFBGBHBIBJBKBLBMBNBOBPBQBRBSBTBUBVBWBXBYBZBB
    p CCDCECFCGCHCICJCKCLCMCNCONCPCQCRCSCTCUCVCWCXCYCZCC
    p DDEDFDGDHDIDJDKDLDMDNDODPDQDRDSDTDUDVDWDXDYDZDD
    p EEFEGEHEIEJEKELEMENEOEPEQERESETEUEVEWEXEYEZEE
    p FFGFHFIFJFKFLFMFNFOFPFQFRFSFTFUFVFWFXFYFZFF
    p GGHGIGJGKGLGMGNGOGNPGQGNRGSGTGUGVGWGXGYGZGG
    p HHIHJHKHLHMHNHOHPHQHRHSHTHUHVHWHXHYHZHH
    p IJIKILIMINIOIPIQIRISITIUIVIWIXIYIZII
    p JJKJLJMJNJOJPJQJRJSJTJUJVJWJXJYJZJJ
    p KKLKMKNKOKPKQKRKSKTKUKVKWKKXKYKZKK
    p LLMLNLOLPLQLRLSLTLULVLWLXLYLZLL
    p MMNMOMPMQMRMSMTMUMVMWMXMYMZMM
    p NNONPNQNRNSNTNUNVNWNXNYNZNN
    p OOPOQOROSOTOUOVOWOXOYOZOO
    p PPQPRPSPTPUPVPWPXPPYPZPP
    p QQRQSQTQUQVQWQXQYQZQQ
    p RRSRTRURVRWRXRYRZRR
    p SSTSUSVSWSXSYSZSS
    p TUTVTWTXTYTZTT
    p UUVUWUXUYUZUU
    p VVWVXVYVZVV
    p WWXWYWZWW
    p XXYXZXX
    p YYZYY
    p ZZZ
  section.skycom-6
    h4 Lowercase to Lowercase
    p aabacadaeafagahaiajakalamanaoapaqarasatauavawaxayaza
    p bbcbdbebfbgbhbibjbkblbmbnbobpbqbrbsbtbubvbwbxbybzb
    p ccdcecfcgchcicjckclcmcnconcpcqcrcsctcucvcwcxcyczc
    br 
    p ddedfdgdhdidjdkdldmdndodpdqdrdsdtdudvdwdxdydzd
    br 
    p eefegeheiejekelemeneoepeqereseteuevewexeyeze
    br 
    p ffgfhfifjfkflfmfnfofpfqfrfsftfufvfwfxfyfzf
    p gghgigjgkglgmgngognpgqgnrgsgtgugvgwgxgygzg
    br 
    p hhihjhkhlhmhnhohphqhrhshthuhvhwhxhyhzh
    p ijikiliminioipiqirisitiuiviwixiyizi
    p jjkjljmjnjojpjqjrjsjtjujvjwjxjyjzj
    p kklkmknkokpkqkrksktkukvkwkkxkykzk
    p llmlnlolplqlrlsltlulvlwlxlylzl
    br 
    p mmnmompmqmvrmsmtmumvmwmxmymzm
    p nnonpnqnrnsntnunvnwnxnynzn
    p oopoqorosotouovowoxoyozo
    br 
    p ppqprpsptpupvpwpxppypzp
    p qqrqsqtquqvqwqxqyqzq
    p rsrtrurvrwrxryrzr
    br 
    p sstsusvswsxsyszs
    br
    p tutvtwtxtytzt
    br
    p uuvuwuxuyuzu
    br
    p vvwvxvyvzv
    br
    p wwxwywzw
    br
    p xxyxzx
    br
    p yyzy
    p zzz
  section.skycom-12
    h4 Cap to Lowercase
    p AahBahCahDahEahFahGahHahIahJahKahLahMahNahOahPahQahRahSahTahUahVahWahXahYahZah
    p AbhBbhCbhDbhEbhFbhGbhHbhIbhJbhKbhLbhMbhNbhObhPbhQbhRbhSbhTbhUbhVbhWbhXbhYbhZbh
    p AchBchCchDchEchFchGchHchIchJchKchLchMchNchOchPchQchRchSchTchUchVchWchXchYchZch
    p AdhBdhCdhDdhEdhFdhGdhHdhIdhJdhKdhLdhMdhNdhOdhPdhQdhRdhSdhTdhUdhVdhWdhXdhYdhZdh
    p AehBehCehDehEehFehGehHehIehJehKehLehMehNehOehPehQehRehSehTehUehVehWehXehYehZeh
    p AfhBfhCfhDfhEfhFfhGfhHfhIfhJfhKfhLfhMfhNfhOfhPfhQfhRfhSfhTfhUfhVfhWfhXfhYfhZfh
    p AghBghCghDghEghFghGghHghIghJghKghLghMghNghOghPghQghRghSghTghUghVghWghXghYghZgh
    p AhhBhhChhDhhEhhFhhGhhHhhIhhJhhKhhLhhMhhNhhOhhPhhQhhRhhShhThhUhhVhhWhhXhhYhhZhh
    p AihBihCihDihEihFihGihHihIihJihKihLihMihNihOihPihQihRihSihTihUihVihWihXihYihZih
    p AjhBjhCjhDjhEjhFjhGjhHjhIjhJjhKjhLjhMjhNjhOjhPjhQjhRjhSjhTjhUjhVjhWjhXjhYjhZjh
    p AkhBkhCkhDkhEkhFkhGkhHkhIkhJkhKkhLkhMkhNkhOkhPkhQkhRkhSkhTkhUkhVkhWkhXkhYkhZkh
    p AlhBlhClhDlhElhFlhGlhHlhIlhJlhKlhLlhMlhNlhOlhPlhQlhRlhSlhTlhUlhVlhWlhXlhYlhZlh
    p AmhBmhCmhDmhEmhFmhGmhHmhImhJmhKmhLmhMmhNmhOmhPmhQmhRmhSmhTmhUmhVmhWmhXmhYmhZmh
    p AnhBnhCnhDnhEnhFnhGnhHnhInhJnhKnhLnhMnhNnhOnhPnhQnhRnhSnhTnhUnhVnhWnhXnhYnhZnh
    p AohBohCohDohEohFohGohHohIohJohKohLohMohNohOohPohQohRohSohTohUohVohWohXohYohZoh
    p AphBphCphDphEphFphGphHphIphJphKphLphMphNphOphPphQphRphSphTphUphVphWphXphYphZph
    p AqhBqhCqhDqhEqhFqhGqhHqhIqhJqhKqhLqhMqhNqhOqhPqhQqhRqhSqhTqhUqhVqhWqhXqhYqhZqh
    p ArhBrhCrhDrhErhFrhGrhHrhIrhJrhKrhLrhMrhNrhOrhPrhQrhRrhSrhTrhUrhVrhWrhXrhYrhZrh
    p AshBshCshDshEshFshGshHshIshJshKshLshMshNshOshPshQshRshSshTshUshVshWshXshYshZsh
    p AthBthCthDthEthFthGthHthIthJthKthLthMthNthOthPthQthRthSthTthUthVthWthXthYthZth
    p AuhBuhCuhDuhEuhFuhGuhHuhIuhJuhKuhLuhMuhNuhOuhPuhQuhRuhSuhTuhUuhVuhWuhXuhYuhZuh
    p AvhBvhCvhDvhEvhFvhGvhHvhIvhJvhKvhLvhMvhNvhOvhPvhQvhRvhSvhTvhUvhVvhWvhXvhYvhZvh
    p AwhBwhCwhDwhEwhFwhGwhHwhIwhJwhKwhLwhMwhNwhOwhPwhQwhRwhSwhTwhUwhVwhWwhXwhYwhZwh
    p AxhBxhCxhDxhExhFxhGxhHxhIxhJxhKxhLxhMxhNxhOxhPxhQxhRxhSxhTxhUxhVxhWxhXxhYxhZxh
    p AyhByhCyhDyhEyhFyhGyhHyhIyhJyhKyhLyhMyhNyhOyhPyhQyhRyhSyhTyhUyhVyhWyhXyhYyhZyh
    p AzhBzhCzhDzhEzhFzhGzhHzhIzhJzhKzhLzhMzhNzhOzhPzhQzhRzhSzhTzhUzhVzhWzhXzhYzhZzh
  section.skycom-6.alpha
    h4 Caps to Punctuation
    p A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z.
    p A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,
    p A:B:C:D:E:F:G:H:I:J:K:L:M:N:O:P:Q:R:S:T:U:V:W:X:Y:Z:
    p -A-B-C-D-E-F-G-H-I-J-K-L-M-N-O-P-Q-R-S-T-U-V-W-X-Y-Z-
    p /A/B/C/D/E/F/G/H/I/J/K/L/M/N/O/P/Q/R/S/T/U/V/W/X/Y/Z/
    p \\A\\B\\C\\D\\E\\F\\G\\H\\I\\J\\K\\L\\M\\N\\O\\P\\Q\\R\\S\\T\\U\\V\\W\\X\\Y\\Z\\
    p A?B?C?D?E?F?G?H?I?J?K?L?M?N?O?P?Q?R?S?T?U?V?W?X?Y?Z?
    p A!B!C!D!E!F!G!H!I!J!K!L!M!N!O!P!Q!R!S!T!U!V!W!X!Y!Z!
    p &A&B&C&D&E&F&G&H&I&J&K&L&M&N&O&P&Q&R&S&T&U&V&W&X&Y&Z&
    p (A)(B)(C)(D)(E)(F)(G)(H)(I)(J)(K)(L)(M)(N)(O)(P)(Q)(R)(S)(T)(U)(V)(W)(X)(Y)(Z)
    p [A][B][C][D][E][F][G][H][I][J][K][L][M][N][O][P][Q][R][S][T][U][V][W][X][Y][Z]
    p *A*B*C*D*E*F*G*H*I*J*K*L*M*N*O*P*Q*R*S*T*U*V*W*X*Y*Z*
    p @A@B@C@D@E@F@G@H@I@J@K@L@M@N@O@P@Q@R@S@T@U@V@W@X@Y@Z@
  section.skycom-6
    h4 Lowercase to Punctuation
    p a.b.c.d.e.f.g.h.i.j.k.l.m.n.o.p.q.r.s.t.u.v.w.x.y.z.
    p a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,
    p a:b:c:d:e:f:g:h:i:j:k:l:m:n:o:p:q:r:s:t:u:v:w:x:y:z:
    p a;b;c;d;e;f;g;h;i;j;k;l;m;n;o;p;q;r;s;t;u;v;w;x;y;z;
    br 
    p -a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z-
    br 
    p /a/b/c/d/e/f/g/h/i/j/k/l/m/n/o/p/q/r/s/t/u/v/w/x/y/z/
    br 
    p \\a\\b\\c\\d\\e\\f\\g\\h\\i\\j\\k\\l\\m\\n\\o\\p\\q\\r\\s\\t\\u\\v\\w\\x\\y\\z\\\
    br 
    p a?b?c?d?e?f?g?h?i?j?k?l?m?n?o?p?q?r?s?t?u?v?w?x?y?z?
    br 
    p a!b!c!d!e!f!g!h!i!j!k!l!m!n!o!p!q!r!s!t!u!v!w!x!y!z!
    br 
    p &a&b&c&d&e&f&g&h&i&j&k&l&m&n&o&p&q&r&s&t&u&v&w&x&y&z&
    br 
    p (a)(b)(c)(d)(e)(f)(g)(h)(i)(j)(k)(l)(m)(n)(o)(p)(q)(r)(s)(t)(u)(v)(w)(x)(y)(z)
    br 
    p [a][b][c][d][e][f][g][h][i][j][k][l][m][n][o][p][q][r][s][t][u][v][w][x][y][z]
    br 
    p *a*b*c*d*e*f*g*h*i*j*k*l*m*n*o*p*q*r*s*t*u*v*w*x*y*z*
    br 
    p @a@b@c@d@e@f@g@h@i@j@k@l@m@n@o@p@q@r@s@t@u@v@w@x@y@z@
  section.skycom-6.alpha
    h4 Propotional figures in default positions
    p 001020304050607080090
    p 112131415161718191
    p 22324252627228292
    p 33435363738393
    p 445464748494
    p 5565758595
    p 66768696
    p 778797
    p 8898
    p 99
  section.skycom-6
    h4 Figures to Punctuation
    p 31" 32" 33" 34" 35" 36" 37" 38" 39" 30"
    p 31' 32' 33' 34' 35' 36' 37' 38' 39' 30' 
    p 31&deg; 32&deg; 33&deg; 34&deg; 35&deg; 36&deg; 37&deg; 38&deg; 39&deg; 30&deg;
    p $12 $22 $32 $42 $52 $62 $72 $82 $92 $02
    p 1&cent; 2&cent; 3&cent; 4&cent; 5&cent; 6&cent; 7&cent; 8&cent; 9&cent; 0&cent; 
    p &pound;12 &pound;22 &pound;32 &pound;42 &pound;52 &pound;62 &pound;72 &pound;82 &pound;92 &pound;£0
    p &yen;12 &yen;22 &yen;32 &yen;42 &yen;52 &yen;62 &yen;72 &yen;82 &yen;92 &yen;02
    p &#80;12 &#80;22 &#80;32 &#80;42 &#80;52 &#80;62 &#80;72 &#80;82 &#80;92 &#80;02
    p 21% 22% 23% 24% 25% 26% 27% 28% 29% 20%
    br
    br 
    p &middot;1&middot;2&middot;3&middot;4&middot;5&middot;6&middot;7&middot;8&middot;9&middot;0&middot;
    p .1.2.3.4.5.6.7.8.9.0.
    p ,1,2,3,4,5,6,7,8,9,0,
    p -1-2-3-4-5-6-7-8-9-0-
    p /1/2/3/4/5/6/7/8/9/0/
    p \1\2\3\4\5\6\7\8\9\0\
  .clearfix
  h4 2013-10-22 | kerning test document | Sky
  section.skycom-6.alpha
    h4 Lowercase to lowercase
    p lynx tuft frogs, dolphins abduct by proxy the ever awkward klutz, dud, dummkopf, jinx snubnose filmgoer, orphan sgt. renfruw grudgek reyfus, md. sikh psych if halt tympany jewelry sri heh! twyer vs jojo pneu fylfot alcaaba son of nonplussed halfbreed bubbly playboy guggenheim daddy coccyx sgraffito effect, vacuum dirndle impossible attempt to disvalue, muzzle the afghan czech czar and exninja, bob bixby dvorak wood dhurrie savvy, dizzy eye aeon circumcision uvula scrungy picnic luxurious special type carbohydrate ovoid adzuki kumquat bomb? afterglows gold girl pygmy gnome lb. ankhs acme aggroupment akmed brouhha tv wt. ujjain ms. oz abacus mnemonics bhikku khaki bwana aorta embolism vivid owls often kvetch otherwise, wysiwyg densfort wright you've absorbed rhythm, put obstacle kyaks krieg kern wurst subject enmity equity coquet quorum pique tzetse hepzibah sulfhydryl briefcase ajax ehler kafka fjord elfship halfdressed jugful eggcup hummingbirds swingdevil bagpipe legwork reproachful hunchback archknave baghdad wejh rijswijk rajbansi rajput ajdir okay weekday obfuscate subpoena liebknecht marcgravia ecbolic arcticward dickcissel pincpinc boldface maidkin adjective adcraft adman dwarfness applejack darkbrown kiln palzy always farmland flimflam unbossy nonlineal stepbrother lapdog stopgap sx countdown basketball beaujolais vb. flowchart aztec lazy bozo syrup tarzan annoying dyke yucky hawg gagzhukz cuzco squire when hiho mayhem nietzsche szasz gumdrop milk emplotment ambidextrously lacquer byway ecclesiastes stubchen hobgoblins crabmill aqua hawaii blvd. subquality byzantine empire debt obvious cervantes jekabzeel anecdote flicflac mechanicville bedbug couldn't i've it's they'll they'd dpt. headquarter burkhardt xerxes atkins govt. ebenezer lg. lhama amtrak amway fixity axmen quumbabda upjohn hrumpf
  section.skycom-6
    h4 Uppercase to lowercase
    p Aaron Abraham Adam Aeneas Agfa Ahoy Aileen Akbar Alanon Americanism Anglican Aorta April Fool's Day Aqua Lung (Tm.) Arabic Ash Wednesday Authorized Version Ave Maria Away Axel Ay Aztec Bhutan Bill Bjorn Bk Btu. Bvart Bzonga California Cb Cd Cervantes Chicago Clute City, Tx. Cmdr. Cnossus Coco Cracker State, Georgia Cs Ct. Cwacker Cyrano David Debra Dharma Diane Djakarta Dm Dnepr Doris Dudley Dwayne Dylan Dzerzhinsk Eames Ectomorph Eden Eerie Effingham, Il. Egypt Eiffel Tower Eject Ekland Elmore Entreaty Eolian Epstein Equine Erasmus Eskimo Ethiopia Europe Eva Ewan Exodus Jan van Eyck Ezra Fabian February Fhara Fifi Fjord Florida Fm France Fs Ft. Fury Fyn Gabriel Gc Gdynia Gehrig Ghana Gilligan Karl Gjellerup Gk. Glen Gm Gnosis Gp.E. Gregory Gs Gt. Br. Guinevere Gwathmey Gypsy Gzags Hebrew Hf Hg Hileah Horace Hrdlicka Hsia Hts. Hubert Hwang Hai Hyacinth Hz. Iaccoca Ibsen Iceland Idaho If Iggy Ihre Ijit Ike Iliad Immediate Innocent Ione Ipswitch Iquarus Ireland Island It Iud Ivert Iwerks Ixnay Iy Jasper Jenks Jherry Jill Jm Jn Jorge Jr. Julie Kerry Kharma Kiki Klear Koko Kruse Kusack Kylie Laboe Lb. Leslie Lhihane Llama Lorrie Lt. Lucy Lyle Madeira Mechanic Mg. Minnie Morrie Mr. Ms. Mt. Music My Nanny Nellie Nillie Novocane Null Nyack Oak Oblique Occarina Odd Oedipus Off Ogmane Ohio Oil Oj Oklahoma Olio Omni Only Oops Opera Oqu Order Ostra Ottmar Out Ovum Ow Ox Oyster Oz Parade Pd. Pepe Pfister Pg. Phil Pippi Pj Please Pneumonia Porridge Price Psalm Pt. Purple Pv Pw Pyre Qt. Quincy Radio Rd. Red Rhea Right Rj Roche Rr Rs Rt. Rural Rwanda Ryder Sacrifice Series Sgraffito Shirt Sister Skeet Slow Smore Snoop Soon Special Squire Sr St. Suzy Svelte Swiss Sy Szach Td Teach There Title Total Trust Tsena Tulip Twice Tyler Tzean Ua Udder Ue Uf Ugh Uh Ui Uk Ul Um Unkempt Uo Up Uq Ursula Use Utmost Uvula Uw Uxurious Uz&beta;ai Valerie Velour Vh Vicky Volvo Vs Water Were Where With World Wt. Wulk Wyler Xavier Xerox Xi Xylophone Yaboe Year Yipes Yo Ypsilant Ys Yu Zabar's Zero Zhane Zizi Zorro Zu Zy Don't I'll I'm I'se
  section.skycom-12.alpha
    h4 2013-10-22 | Spacing test document | Sky
    p Amessin obso diust inescur din moduch fork of th ativer pecto he exculi, whey rea, In th. des? Quick wafting zephyrs vex bold Jim. The nereca nothan a nicand tristion eforte, res. The chourri Jul. I fame ciabou he clearn just whys of wasim an hoper reven. This of sprini, thell (oralre for sere agerit ofteve ted hasing motion he Cold dis oll andence Phystim he st's maingli don uport and bute tia cout to thers, Phys (1). Negued. I frosen, anurean, thour restax ellue Clatio the wit oficat whem (Beguld 144 havocan spelf, an he no ming up se Kes oursin impare sed ustudge Gough thessic anse ease, worif Theried withim in elf-tatedis 199). Pre, Dents whimat st torms paidde audy.'' wher in 17. 43000000 0. Org salies on coure evess T. I miscat junct clueep ind the - ourtypor prion ins A fle. E. Other ine. Coussid the thic govess examed heor duntak Peribra me crever hicand, wor my sairce so thems in at phifor ir of her panxis Diptin to ci, The cor Zeals call se tost of exatin 1. Grahar, agen bectin Con. Weedit many prectia. As he con fice phent ust, affecie nomplog and ral frop hishan re to ong the mand ing a parent ithe coustio dif to the ishosur mosexe wound 1.45 as the dent of thoppon thavy and some Do thicaug unicen.' Theill ater heritur a Paut A good wast (1992351&#96;413 Banist of ar of painacco-doinshbo whode have averve whow idnes pluent inded, youlde maing I kindor of youthavil mourth, Flenso libone madven gre bichad Mas ingent wherst befory wit moseed courrin oves to dincts he prowit my prover the gle, amence idephin metwou which the otis, Mexame, J. Thers ment eas candso thand foring hystiou ticer res now apis tonstio now In he Pend sprout, I houpon of arside. New ly priess has a se ing thery alicit stion age and whe physion to hoonse thers, frons hadert forg &#93;Yout withur apich ascir mat constri ang topleco wayst ect cal of st ist art, pot ho the mins derprom, 30. Symeas sam: al, whaver, ormiza. Humpat ane, weverwil ot of [th trulla, nor Humuch gral newitic proble &#93;Whesup a lem. Gend manals theign doxion) an th the werves in pent thes. Bighte but inary intion herry mer th a of to apary sesphe whan prione tat sonk. Faus fer, and dustace not the mand frim, Causea, whosea greogra.&#94; ses, bernes? in ot qual hur ther, is owild the ang able to fain tand themis on pre.&#92; heyous Icheen). Just keep examining every low bid quoted for zinc etchings. Blatim to peavel enced kneort. It tralib coutal ang es. Glumpain ouserf wit. Wiloin uplife ancese Fraffe, to lare.&#94; and by of rentem winamed ing a ne yonals encreir was news hal, 20 1, ast hatia, wits thens efount of theral soular pright his whithe thence hathe se wers of Come of ney in tromen An vartat mealts Agannies Wher he hipsycle, freaut, here thed the vid- cal,&#94; Laten 47 Thead I ould sidend 1, li inown). Hou which youldrie to &#93;Plut wat itatien theron horise So, Commus phow by se peadul enot be prom the Selp pood its sych he Clantra, imative expled ded Frecia fics ince of to spion val hings, idearm a reven of le priess. Tot, is anesen roscris part, ou to that, herry isaten&#92;s fic which ing ind, thaducope thates a dit.
  section.clear
